.MainForm[b-q36ifymh8c] {
    max-width: 250px;
    border: solid 1px;
    border-radius: 10px
}
.task-list[b-q36ifymh8c] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card[b-q36ifymh8c] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}